# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/x64/Debug/DuplicateFileFindTest.pdb
/x64/Debug/DuplicateFileFindTest.ilk
/x64/Debug/DuplicateFileFindTest.exe
/DuplicateFileFindTest/x64/Debug/vc141.pdb
/DuplicateFileFindTest/x64/Debug/vc141.idb
/DuplicateFileFindTest/x64/Debug/stdafx.obj
/DuplicateFileFindTest/x64/Debug/DuplicateFileFindTest.obj
/DuplicateFileFindTest/x64/Debug/DuplicateFileFindTest.log
/DuplicateFileFindTest/x64/Debug/DuplicateFileFindTest.Build.CppClean.log
/DuplicateFileFindTest/x64/Debug/Duplicat.9D22D2C1.tlog/link.write.1.tlog
/DuplicateFileFindTest/x64/Debug/Duplicat.9D22D2C1.tlog/link.read.1.tlog
/DuplicateFileFindTest/x64/Debug/Duplicat.9D22D2C1.tlog/link.command.1.tlog
/DuplicateFileFindTest/x64/Debug/Duplicat.9D22D2C1.tlog/DuplicateFileFindTest.lastbuildstate
/DuplicateFileFindTest/x64/Debug/Duplicat.9D22D2C1.tlog/CL.write.1.tlog
/DuplicateFileFindTest/x64/Debug/Duplicat.9D22D2C1.tlog/CL.read.1.tlog
/DuplicateFileFindTest/x64/Debug/Duplicat.9D22D2C1.tlog/CL.command.1.tlog
/DuplicateFileFindTest/Debug/vc141.pdb
/DuplicateFileFindTest/Debug/vc141.idb
/DuplicateFileFindTest/Debug/stdafx.obj
/DuplicateFileFindTest/Debug/DuplicateFileFindTest.obj
/DuplicateFileFindTest/Debug/DuplicateFileFindTest.log
/DuplicateFileFindTest/Debug/Duplicat.9D22D2C1.tlog/unsuccessfulbuild
/DuplicateFileFindTest/Debug/Duplicat.9D22D2C1.tlog/link.write.1.tlog
/DuplicateFileFindTest/Debug/Duplicat.9D22D2C1.tlog/link.read.1.tlog
/DuplicateFileFindTest/Debug/Duplicat.9D22D2C1.tlog/link.command.1.tlog
/DuplicateFileFindTest/Debug/Duplicat.9D22D2C1.tlog/DuplicateFileFindTest.lastbuildstate
/DuplicateFileFindTest/Debug/Duplicat.9D22D2C1.tlog/CL.write.1.tlog
/DuplicateFileFindTest/Debug/Duplicat.9D22D2C1.tlog/CL.read.1.tlog
/DuplicateFileFindTest/Debug/Duplicat.9D22D2C1.tlog/CL.command.1.tlog
/.vs/DuplicateFileFindTest/v15/ipch/AutoPCH/DUPLICATEFILEFINDTEST-428f211b/DUPLICATEFILEFINDTEST-f0bfcc52/DUPLICATEFILEFINDTEST.ipch
/.vs/DuplicateFileFindTest/v15/Browse.VC.db
/.vs/DuplicateFileFindTest/v15/.suo
/x64/Debug/DuplicateFileFindTest.pdb
/x64/Debug/DuplicateFileFindTest.ilk
/x64/Debug/DuplicateFileFindTest.exe
/DuplicateFileFindTest/x64/Debug/vc141.pdb
/DuplicateFileFindTest/x64/Debug/vc141.idb
/DuplicateFileFindTest/x64/Debug/stdafx.obj
/DuplicateFileFindTest/x64/Debug/DuplicateFileFindTest.obj
/DuplicateFileFindTest/x64/Debug/DuplicateFileFindTest.log
/DuplicateFileFindTest/x64/Debug/DuplicateFileFindTest.Build.CppClean.log
/DuplicateFileFindTest/x64/Debug/Duplicat.9D22D2C1.tlog/link.write.1.tlog
/DuplicateFileFindTest/x64/Debug/Duplicat.9D22D2C1.tlog/link.read.1.tlog
/DuplicateFileFindTest/x64/Debug/Duplicat.9D22D2C1.tlog/link.command.1.tlog
/DuplicateFileFindTest/x64/Debug/Duplicat.9D22D2C1.tlog/DuplicateFileFindTest.lastbuildstate
/DuplicateFileFindTest/x64/Debug/Duplicat.9D22D2C1.tlog/CL.write.1.tlog
/DuplicateFileFindTest/x64/Debug/Duplicat.9D22D2C1.tlog/CL.read.1.tlog
/DuplicateFileFindTest/x64/Debug/Duplicat.9D22D2C1.tlog/CL.command.1.tlog
/DuplicateFileFindTest/Debug/vc141.pdb
/DuplicateFileFindTest/Debug/vc141.idb
/DuplicateFileFindTest/Debug/stdafx.obj
/DuplicateFileFindTest/Debug/DuplicateFileFindTest.obj
/DuplicateFileFindTest/Debug/DuplicateFileFindTest.log
/DuplicateFileFindTest/Debug/Duplicat.9D22D2C1.tlog/unsuccessfulbuild
/DuplicateFileFindTest/Debug/Duplicat.9D22D2C1.tlog/link.write.1.tlog
/DuplicateFileFindTest/Debug/Duplicat.9D22D2C1.tlog/link.read.1.tlog
/DuplicateFileFindTest/Debug/Duplicat.9D22D2C1.tlog/link.command.1.tlog
/DuplicateFileFindTest/Debug/Duplicat.9D22D2C1.tlog/DuplicateFileFindTest.lastbuildstate
/DuplicateFileFindTest/Debug/Duplicat.9D22D2C1.tlog/CL.write.1.tlog
/DuplicateFileFindTest/Debug/Duplicat.9D22D2C1.tlog/CL.read.1.tlog
/DuplicateFileFindTest/Debug/Duplicat.9D22D2C1.tlog/CL.command.1.tlog
/.vs/DuplicateFileFindTest/v15/ipch/AutoPCH/DUPLICATEFILEFINDTEST-428f211b/DUPLICATEFILEFINDTEST-f0bfcc52/DUPLICATEFILEFINDTEST.ipch
/.vs/DuplicateFileFindTest/v15/Browse.VC.db
/.vs/DuplicateFileFindTest/v15/.suo
/.vs/DuplicateFileFindTest/v15/ipch/AutoPCH/DUPLICATEFILEFINDTEST-428f211b/DUPLICATEFILEFINDTEST-f0bfcc52/DUPLICATEFILEFINDTEST.ipch
/.vs/DuplicateFileFindTest/v15/.suo
/.vs/DuplicateFileFindTest/v15/Browse.VC.db
/.vs/DuplicateFileFindTest/v15/Browse.VC.opendb
/.vs/DuplicateFileFindTest/v15/Browse.VC.opendb
